<Context>


<Resource name="jdbc/fitphysical_db"


auth="Container"


type="javax.sql.DataSource"


username="student"


password="Cpt275Ttc!"


driverClassName="com.mysql.jdbc.Driver"


url="jdbc:mysql:/192.168.6.3:3306/fitphysical_db"


maxActive="15"

maxIdle="3"/>

</Context>